@{
    ViewBag.Title = "Knowledge Hub";
}
<!-- ======= Details Section ======= -->

<style>
    .break-line {
    content: "";
    width: 1020px;
    height: 1px;
    display: inline-block;
    background: #aaaaaa;
    margin: 4px 10px;
}
</style>
<section id="details" class="details">
    <div class="container">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <p>Knowledge Hub</p>
            <h2>Learn more about Social Isolation and Loneliness</h2>
        </div>
        <br /><br />
        <div class="row content">
            <div class="col-md-2" data-aos="fade-right">
            </div>
            <div class="col-md-3" data-aos="fade-right">
                <img src="../img/OneinFour.png" class="img-fluid" alt="" style="width:80%; height:100% ;">
            </div>
            <div class="col-md-1" data-aos="fade-right">
            </div>
            <div class="col-md-6 pt-6" data-aos="fade-up">
                <h3 style="color:#010483;">Loneliness can be contagious</h3>
                <p style="text-align:justify;">
                    Loneliness tends to spread from person to person, due to negative social interactions and other factors. Making things even worse, people have a tendency to further isolate people who are lonely because we have evolved to avoid threats to our social cohesion.
                </p>
                <p style="text-align:justify;">
                    Considering loved ones’ needs as individuals is a valuable first step to figuring out how to combat isolation and CaringSquare is one of the solutions available to fight loneliness and isolation.
                </p>
            </div>
        </div>
        <br /><br /><br /><br />
        <br /><br />
        <div class="row content">
            <div class="col-md-1 order-1 order-md-2">
            </div>
            <div class="col-md-3 order-1 order-md-2" data-aos="fade-left">
                <br />

                <img src="../img/Anxious-Depressed.png" class="img-fluid" alt="" style="width:80%; height:75% ;">
            </div>
            <div class="col-md-2 order-1 order-md-2">
            </div>
            <div class="col-md-6 order-2 order-md-1" data-aos="fade-up">
                <h3 style="color:#010483;">Isolation increase the risk of mortality</h3>
                <p style="font-weight:bold;text-align:justify;">
                    People who live alone or lack social contacts may be at increased risk of death if acute symptoms develop because there is less of a network of confidantes to prompt medical attention.
                </p>
                <p style="text-align:justify;">
                    It is evident that both social isolation and loneliness are associated with a higher risk of mortality.
                    CaringSquare aims to alleviate social isolation by enabling elderly to plan events closer to them.<br />
                    <i>Source: National Academy of Sciences, 2012</i>
                </p>

            </div>
        </div>
        <br /><br /><br /><br />
        <br /><br />
        <div class="row content">
            <div class="col-md-2" data-aos="fade-right">
            </div>
            <div class="col-md-3" data-aos="fade-right">
                <img src="../img/LonelyWeekly.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1" data-aos="fade-right">
            </div>
            <div class="col-md-6 pt-5" data-aos="fade-up">
                <h3 style="color:#010483;">Physical and geographic isolation often leads to social isolation</h3>
                <p style="text-align:justify;">People living away from their loved one’s are more prone to isolation and loneliness. It leads to long-term illnesses and conditions such as chronic lung disease, arthritis, impaired mobility, and depression. A phone call or visits by loved ones’ can be a critical part of connecting with elderly.</p>
                <p style="text-align:justify;">
                    CaringSquare enables loved ones’ to plan events and share with their friends and family where they can have a peaceful time with their loved ones’.

                </p>


            </div>
        </div>
    </div>
</section>